---
import ParrafoComponent from "../components/ParrafoComponent.astro"
import TitleH1Component from "../components/TitleH1Component.astro"
import TitleH2Component from "../components/TitleH2Component.astro"
import TitleH3Component from "../components/TitleH3Component.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <main class="w-full">
        <div class="w-full">
        <div style="background-image: url('https://www.esic.edu/sites/default/files/2024-07/que%20es%20la%20ciberseguridad.jpg') ;" class="bg-center w-full h-[300px] bg-cover bg-black/50 bg-blend-multiply">
			<div class="justify-items-center items-center justify-center pt-18 p-40">
                <TitleH1Component estilo="font-bold text-6xl text-center text-white" texto="Ciberseguridad" />
                <TitleH2Component estilo="font-semibold text-3xl text-white text-center" texto="Facilidad y compatibilidad de la seguridad con inteligencia artificial, como nos puede ayudar dia con dia" />
			
			</div>

		</div>
	
        </div>

                <div class="w-full bg-linear-to-r from-blue-400 to-blue-500 text-white">
               <div class="grid grid-cols-2">
                <div class="bg-linear-to-r from-blue-600 to-gray-700 p-10 gap-2 space-y-4">

                    <TitleH2Component estilo="text-center font-semibold" texto="¿Como se puede estar seguro en la actualidad?" />
                    <ParrafoComponent estilo="" texto="Es complicado pero no imposible, hay varias formas de mantener la ciberseguridad a tope, como por ejemplo tener un antivirus que detecte virus de arranque para.." />
                    <img src="https://winblog.s3.amazonaws.com/blog/wp-content/uploads/2023/06/app-de-ia-para-mejorar-chatgpt.jpeg" alt="" class="items-center h-70 w-full border rounded">
                    

                </div>

                <div class="bg-linear-to-r from-gray-700 to-blue-600 p-10 gap-2 space-y-4">

                    <TitleH2Component estilo="text-center font-semibold" texto="¿Los antivirus son realmente seguros?" />
                    <ParrafoComponent estilo="" texto="Es una pregunta que genera mucha polemica porque, si bien es cierto que detectan virus, esta funcion se basa enteramente en una base de datos, claro como antivirus tradicional de toda la vida, ademas de estos antivirus tradicionales, existen antivirus con inteligencia artificial, que como su nombre lo indica, son antivirus con implementacion de inteligencia artificial." />
                    <img src="https://nuc.edu/wp-content/uploads/2024/10/blog-seguridad-informatica.jpg" alt="" class="items-center h-70 w-full border rounded">

                </div>



               </div>
            </div>
    </main>
    
</Layout>