---

import TitlesComponent from "../components/TitlesComponent.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<main class=" w-full gap-10">
		<div style="background-image: url('https://cromamedia.com/wp-content/uploads/2021/04/experts_wordpress-1.jpg') ;" class="w-full h-[300px] ">
		<div class="justify-items-center items-center justify-center">
			<h1 class="font-bold text-6xl text-center text-white ">Noticias Tecnologicas Internacionales</h1>
			<h2 class="font-semibold text-3xl text-white ">Mantente al dia con las ultimas novedades en informatica, inteligencia artificial, hardware, software y ciberseguridad de todo el mundo</h2>
		</div>

		</div>
	
		
			
		</div>
		<div class="w-full">
			<div class="grid grid-cols-2">
				<div class="container mx-auto p-3">
					<img src="https://www.diarioconstitucional.cl/wp-content/uploads/2024/11/image1170x530cropped-4.jpg" alt="" class="w-full h-[300px] rounded-lg">
				</div>

				<div class=" container mx-auto p-3 text-center">
					<TitlesComponent estilo="text-black underline" texto="Ultimas noticias">
					

				</div>

			</div>

		</div>
		
	

	</main>
	
</Layout>