---
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<main class=" bg-red-900 pb-0">
		<div class="py-70">
			<h1 class="font-semibold text-white text-6xl">
				Bienvenidos
			</h1>
		</div>

	</main>
	
</Layout>