---
import NavFooterComponent from "./NavFooterComponent.astro";
import ParrafoComponent from "./ParrafoComponent.astro";
import SocialNetworksComponent from "./SocialNetworksComponent.astro";
import TitlesComponent from "./TitleH1Component.astro";
import TitleH2Component from "./TitleH2Component.astro";
---

<footer class="bg-[#4a5472] justify-center items-center justify-items-center">
    <section class="flex flex-col">
        <div class="bg-blue-950 w-full flex flex-col p-10 text-center items-center space-y-2">

            <TitlesComponent texto="Subscribite a nuestro boletin" estilo="text-2xl text-white"/>

            <ParrafoComponent texto="Ingresa tu correo electronico para poder recibir nuestras noticias y encuentas, cada semana sorteamos una revista limitada" estilo="text-white"/>

                <input type="email" class="bg-white rounded-lg items-center w-60 p-2" placeholder="Tu correo electronico"> 
               
                <button class="text-white focus-within: bg-slate-400 p-0.5 w-20 items-center rounded-sm cursor-pointer">
                    <a href="/">Subcribite</a>
                </button>



        </div>

        <div class="bg-gray-400 w-full grid grid-cols-3 p-5 px-20 gap-10 justify-center justify-items-center">

            <ul class="text-white space-y-2 border-t">
                <TitleH2Component estilo="text-center text-xl font-bold" texto="Tue Tech"/>
                <ParrafoComponent estilo="text-gray-300 text-base" texto="Somos una confiable fuente de informacion, entregamos noticias informaticas de forma internacional, abarcamos las ultimas tendencias tecnologicas, hardware, software, ciberseguridad y por ultimo y mas importante IA."/>
                
            </ul>
             <ul class="text-gray-300 border-t">
                <TitleH2Component estilo="font-bold text-xl text-center text-white" texto="Categorias"/>
                <NavFooterComponent />
            </ul>
             <ul class="text-gray-300 border-t">
                <TitleH2Component estilo="font-bold text-xl text-center text-white" texto="Contacto"/>
                <li class=""><a href="">Calle avenida foreverlive 321, Pensilvina, tortella</a></li>
                <li class=""><a href="">+84 928 490 000</a></li>
                <li class=""><a href="">info@2tech.com</a></li>
                <li class=""><a href="">www.tuetech.com</a></li>
            </ul>
           
        </div>
         <div class="justify-center text-center flex bg-slate-500"><SocialNetworksComponent /></div>
    </section>
</footer>