---
import NavFooterComponent from "./NavFooterComponent.astro";
import SocialNetworksComponent from "./SocialNetworksComponent.astro";
---

<footer class="bg-[#4a5472] justify-center items-center justify-items-center">
    <!--primer tramo -->
    <div class="w-full bg-white gap-10 space-x-5 px-10 justify-center flex items-center">
        <!--logo -->
        <img src="https://www.tvn.cl/tvn/site/artic/20220922/imag/foto_0000000120220922180533/logo_tvn.png" alt="" class="w-[65px] h-[55px]">
        <h2 class="uppercase text-lg">television nacional de chile</h2>

    </div>
    <!--2do tramo -->
    <div class="w-full bg-[#e2ebee] py-10 flex items-center gap-10">
        <!--navfooter     -->
        <NavFooterComponent />
        <h3 class="text-gray-500">©2025 TELEVISIÓN NACIONAL DE CHILE. TODOS LOS DERECHOS RESERVADOS©</h3>


    </div>
    <!--3er tramo -->
    <div class="container mx-auto py-10 justify-center justify-items-center">
        <div class="grid grid-cols-2">
            <!--copyright -->
            <div class="container px-10">
                <h2 class="text-white text-lg font-bold">Derechos reservados 2025</h2>
                <p class="text-base text-white">TVN es un canal de noticias, nuestro funcionamiento como sitio web es crear un vinculo para llegar a mas personas en la era digital</p>
            </div>
            <!--links -->
            <div class="container">
                <SocialNetworksComponent />
            </div>
        </div>
    
    </div>


</footer>