<footer class="bg-green-900">
    <div class="container mx-auto py-10 justify-center justify-items-center">
        <h1 class="font-semibold text-white text-3xl">Ingresa a nuestras redes sociales</h1>
    </div>


</footer>