---
import NavbarMainMenuComponent from "./NavbarMainMenuComponent.astro"
import TitleH1Component from "./TitleH1Component.astro"

---

<header class="bg-linear-to-r from-white to-blue-500 text-white fixed w-full"> 
    <div class="justify-between items-center flex px-4">
    <!--logo -->
        
        <div class="flex items-center px-35">
            <TitleH1Component texto="Tue Tech" estilo="text-black text-3xl font-semibold"/>
            <img src="/favicon.svg" alt="logo" class="w-[120px] h-[50px]">

        </div>

        <!--segundo nav -->
        <div class="gap-10 space-x-5 text-white ">
            <!--nav drycode -->
            <NavbarMainMenuComponent />
        </div>
        
    </div>
</header>