---
import NavbarMainMenuComponent from "./NavbarMainMenuComponent.astro"

---

<header class="bg-linear-to-r from-white to-blue-500 text-white"> 
    <div class="justify-between items-center flex px-4">
    <!--logo -->
        
        <div class="flex items-center px-35">
            <h1 class="text-black text-3xl font-semibold">Tue Tech</h1>
            <img src="/favicon.svg" alt="logo" class="w-[120px] h-[50px]">
        </div>

        <!--segundo nav -->
        <div class="gap-10 space-x-5 text-white ">
            <!--nav drycode -->
            <NavbarMainMenuComponent />
        </div>
        
    </div>
</header>