---
import NavbarMainMenuComponent from "./NavbarMainMenuComponent.astro"

---

<header class="bg-linear-to-r from-white to-blue-500 text-white"> 
    <div class="justify-between items-center flex px-4">
    <!--logo -->
        <img src="/assets/icon.png" alt="" class="w-30 h-15">

        <!--segundo nav -->
        <div class="gap-10 space-x-5 text-white ">
            <!--nav drycode -->
            <NavbarMainMenuComponent />
        </div>
        
    </div>
</header>