---
import NavbarMainMenuComponent from "./NavbarMainMenuComponent.astro"
import NavbarSeccMenuComponent from "./NavbarSeccMenuComponent.astro"
---

<header class="bg-[#e2ebee] text-white"> 
    <!--primer nav -->
    <div class="bg-[#e2ebee]">
        <div class="w-full flex pgap-10 space-x-10 justify-end bg-red-900 px-10 font-semibold">
            <!--nav drycode -->
            <NavbarSeccMenuComponent>

        </div>
    </div>
    
    <div class="justify-between flex items-center px-20">
    <!--logo -->
        <img src="https://www.tvn.cl/tvn/site/artic/20220922/imag/foto_0000000120220922180533/logo_tvn.png" alt="tvn logo" class="w-30 h-20">
        <!--segundo nav -->
        <div class="gap-10 space-x-5">
            <!--nav drycode -->
            <NavbarMainMenuComponent />
        </div>
        
    </div>
</header>