---
import { NavbarMain } from "../data/ItemsMenu";
---

    <div class="gap-10 space-x-5">
        {NavbarMain.map((item)=>(
            <a href={item.href} class="text-white hover:text-black hover:underline">{item.texto}</a>
        ))}
            
    </div>