---
import { NavFooter } from "../data/ItemsMenu"
---

    <div class="gap-10 space-x-5 px-5 p-5 items-center">
        {NavFooter.map((item)=>(
            <li><a href={item.href} class=" text-gray-300 text-lg space-x-5">{item.texto}</a></li>
        ))}
            
    </div>