---
import { NavFooter } from "../data/ItemsMenu"
---

    <div class="gap-10 space-x-5 px-5 p-5">
        {NavFooter.map((item)=>(
            <a href={item.href} class="uppercase text-slate-500 font-bold text-sm">{item.texto}</a>
        ))}
            
    </div>