---
import TitlesComponent from "./TitlesComponent.astro";


---

<div class="mx-auto grid grid-cols-1 px-4 py-8">
    <div class="flex justify-center items-center">
        <div class="w-full">
            <img src="" alt="" class="w-full h-full"/>
        </div>
    </div>

    <div class="flex flex-col justify-center gap-10">

        <TitlesComponent estilo="text-2xl text-gray-700" texto="Insertar Contenido dinamico" />


    </div>

</div>