---
import Layout from "../layouts/Layout.astro"
---

<Layout>

    <!--carta -->
    <div class="container mx-auto pb-2 m-2">
        <!--imagen -->
        <div>
            <img src="https://www.tvn.cl/tvn/site/artic/20251130/imag/foto_0000000520251130092902/Ironman_natacion.png" alt=""/>
        </div>
        <!--desc noticia -->
        <div>
            <p>TextoTextoTextoTextoTextoTextoTexto</p>
        </div>

        <!--link para ir al detail -->
        <button class="">
            Detalles

        </button>

        
    </div>
    
</Layout>