---
import { ItemRedes } from "../data/ItemsMenu"
import TitleH2Component from "./TitleH2Component.astro"
---

    <div class=" flex  gap-10 space-x-5 items-center">
        {ItemRedes.map((item)=>(
            <div class="items-center justify-items-center justify-center">
                <TitleH2Component estilo="text-gray-300 pb-1" texto={item.texto}/>
                <a href={item.link} class="text-gray-300 font-semibold">
                    <img src={item.href} alt={item.texto} class="w-8 h-8 text-gray-300"/>
                </a>
                  

            </div>
        ))}
            
    </div>