---
import "../styles/global.css"
import HeaderComponent from "../components/HeaderComponent.astro"
import FooterComponent from "../components/FooterComponent.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tue Tuesh | rldntcare</title>
    <link rel="icon" href="/favicon.svg" class="h-8 w-8">
</head>
<body class="bg-[#e2ebee]">
    <HeaderComponent />

    <main class="flex min-h-screen">
        <slot />
    </main>

    <FooterComponent />
    
</body>
</html>